<div class="row align-middle text-center text-white">
  <div style="font-size:2.5vw;" class="col-7 border rounded p-2 bg-secondary">
    {{currency.currency | uppercase}}
  </div>
</div>

<div class="row text-center">
  <div style="font-size:2.5vw;" class="align-middle col-7 border rounded p-2 bg-secondary text-white">
    {{currency.rates[0].mid}} PLN
    <button type="button" class="btn btn-info btn-custom"(click)="showChartVOid()">
      <i class="fas fa-chart-line"></i>Chart
    </button>
  </div>
</div>

<div class="row" *ngIf="chart && currency">
  <div class="col-7">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>


